<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnessioneDB" value="Data Source=c:\inetpub\IDEAWORK\dbs\$(empresabase).db" />    
    <add key="TipoDatabase" value="2" />
    <add key="PaginaAsp" value="default.ASPX" />
    <add key="CartellaSito" value="C:\inetpub\ideawork\" />
    <add key="CartellaCatalogos" value="C:\inetpub\ideawork\catalogos\" />
    
    <add key="CartellaDownload" value="C:\inetpub\ideawork\down\" />
    <add key="CartellaDownloadSito" value="C:\inetpub\ideawork\down\" />
    <add key="FolderEmails" value="C:\inetpub\ideawork\emails\" />
    <add key="mail_utente" value="suporte@proidea.com.br" />
    <add key="mail_password" value="FoSuporte20140924" />
    <add key="mail_Smtp" value="smtp.gmail.com" />
    <add key="mail_porta" value="587" />
    <add key="emailfinanceirocliente" value=" silvio@proidea.com.br" />
    <add key="empresateste" value="PROIDEA" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <mimeMap fileExtension=".vue" mimeType="text/plain" />
    </staticContent>
  </system.webServer>
  <system.web>
    <globalization culture="pt-br" uiCulture="pt-br" />
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.6" />
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="AnyHttpSoap" />
      </protocols>
    </webServices>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.10.0" newVersion="5.5.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>